<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="WcfServers" value="localhost55442,localhost.:55442" />
    <add key="EndpointFormatString" value="http://{0}/{1}.svc"/>
    <add key="ReplaceRelativePathLastDot" value="True"/>
    <!--<add key="WcfServers" value="ABC,mb.credential" />-->
    <!--<add key="WcfServers" value="ABC,mb.credential.nosubsystem"/>-->
    <!--<add key="WcfServers" value="ABC,mb.credential.nosubsystem.mb001" />-->
    <add key="WcfWsHttpBindingName" value="WSHttpBinding_ERP"/>
  </appSettings>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="MB.ERP.Behavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ERP" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483646" maxReceivedMessageSize="2147483646" messageEncoding="Mtom" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483646" maxArrayLength="2147483646" maxBytesPerRead="2147483646" maxNameTableCharCount="2147483646"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="true"/>
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>

        <binding name="MyBinding" closeTimeout="00:15:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483646" maxReceivedMessageSize="2147483646" messageEncoding="Mtom" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483646" maxArrayLength="2147483646" maxBytesPerRead="2147483646" maxNameTableCharCount="2147483646"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="true"/>
          <security mode="None">
            <transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
          </security>
        </binding>

      </wsHttpBinding>

     

    </bindings>
    <client>
      <endpoint address="http://localhost:18088/Service1.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ERP" contract="BfEmployeeServer.IBfEmployee" name="WSHttpBinding_IBfEmployee">
      </endpoint>
    </client>


  </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
