<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <appSettings>
    <add key="NewIDCoreDBConnStr" value="MB.ERP.Oracle"/>
  </appSettings>
  <dataConfiguration defaultDatabase="MB.ERP.Oracle">
  </dataConfiguration>
  <connectionStrings>
    <add name="MB.BPM.KQ" connectionString="Server = 10.100.20.189; database=center_database;User ID=BI;Password=bangwei_bi; " providerName="System.Data.SqlClient" />
    <!--<add name="MB.OS" connectionString="Server = 192.168.204.161; database=MyTest;User ID=wanghui;Password=wanghui; " providerName="System.Data.SqlClient" />-->
    <add name="MB.ERP.Oracle" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.149.114)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = MBTESTDB)));Persist Security Info=True;User ID=MTSBWTST;Password=MTSBWTST;Min Pool Size=30;Connection Lifetime=0;Connection Timeout=300;Max Pool Size=500;Incr Pool Size=20;Decr Pool Size=5;" providerName="Oracle.DataAccess.Client" />
    <!--<add name="MB.ERP.Oracle" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.204.28)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = NEWTEST)));Persist Security Info=True;User ID=Mtsbwnet;Password=mtsbw123;" providerName="Oracle.DataAccess.Client" />-->
  </connectionStrings>
</configuration>