<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <!--老ERP-->
    <add name="MB.OldERP" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.149.114)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = MBTESTDB)));Persist Security Info=True;User ID=MTSBW;Password=MTSBW;Min Pool Size=1;Connection Lifetime=0;Connection Timeout=90;Max Pool Size=200;Incr Pool Size=3;Decr Pool Size=2;" providerName="Oracle.DataAccess.Client" />
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--应用参数配置 -->
  <appSettings>
    <add key="OldERPConnection" value="MB.MBERP" />
    <add key="NewERPConnection" value="MB.ERP.Oracle" />
    <add key="WmsConnection" value="MB.WMS" />
    <add key="SaveCodeRunInfo" value="true" />
    <add key="XmlConfigPath" value="ConfigFile\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="EntityCachName" value="MBFS.Orm.EntityCache" />
    <add key="SqlCachName" value="MBFS.Orm.SqlCache" />
    <add key="MappingCachName" value="MBFS.Orm.MappingCache" />
    <add key="XmlCachName" value="MBFS.Orm.XmlCfgFileCache" />
    <add key="NotStartAopManaged" value="True" />
  </appSettings>

  <system.web>
    <httpRuntime maxRequestLength="100000000" />
    <compilation debug="true" targetFramework="4.0" />
 
    <membership>\
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITwoWayAsyncVoid" />
        <binding name="BasicHttpBinding_ITwoWayAsyncVoid1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.101.189/BizTalkWcfService/BtsMAServer.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITwoWayAsyncVoid1"
        contract="BtsService.BtsMAServer" name="BasicHttpBinding_ITwoWayAsyncVoid" />
    </client>
  </system.serviceModel>
</configuration>
