<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching"/>
    <section name="MbOrmExpirationPolicy" type="MB.Orm.MbOrmCofigurationHandler,MB.Orm"/>
    <section name="MBBaseFrameAspects" type="MB.Aop.AspectConfigHandler,MB.Aop"/>
    <section name="MBCloudConfiguratio" type="MB.Cloud.Configuration.CloudDbConfigHandler,MB.Cloud" />
  </configSections>

  <dataConfiguration defaultDatabase="MB.MBFS">
    <providerMappings>
      <add databaseType="EntLibContrib.Data.SQLite.SQLiteDatabase, EntLibContrib.Data.SqLite" name="System.Data.SQLite"/>
    </providerMappings>

  </dataConfiguration>

  <connectionStrings>
    <add name="MB.MBFS1" connectionString="Data Source=MBTESTDB-114;Persist Security Info=True;User ID=MTSBWNET;Password=MTSBWTST;Unicode=True"
      providerName="System.Data.OracleClient" />
    <add name="MB.MBFS" connectionString="Data Source=(DESCRIPTION =
    (ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.204.28)(PORT = 1521))
    (CONNECT_DATA =
      (SERVER = DEDICATED)
      (SERVICE_NAME = NEWTEST)
    )
  );Persist Security Info=True;User ID=mtsbwnet;Password=mtsbw123;" providerName="Oracle.DataAccess.Client"/>

    <add name="SQL SERVER" connectionString="Data Source=PC14920\SQLEXPRESS;Initial Catalog=MyTest;User ID=cdc;Password=123456" providerName="System.Data.SqlClient"/>
    <add name="Sqlite" connectionString="Data Source=|DataDirectory|\mytest.db3;Version=3;" providerName="System.Data.SQLite"/>
    <add name="MySQL" connectionString="server=192.168.149.52;user id=openmall; password=openmall; database=openshop; pooling=false;charset=utf8" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="WcfWsHttpBindingName" value="WSHttpBinding_ERP" />
    <add key="WcfNetTcpBindingName" value="netTcpBinding" />
    <add key="ServiceDomainName" value="MB.ERP" />

    <add key="SaveCodeRunInfo" value="true"/>
    <add key="XmlConfigPath" value="ConfigFile\"/>
    <add key="RunInfoAllowListenerIps" value="192.168.125.75"/>

    <!--<add key="CloudDatabaseFactory" value="MB.Cloud.DB.CloudDatabaseFactory,MB.Cloud" />-->
    
  </appSettings>
  <!--美邦云计算平台配置项-->
  <MBCloudConfiguratio>
    <DB CloudDbCode="core">
      <CloudDbManager agent="192.168.204.36:53245" databaseService="5678" monitorService="4567" groupService="5888" groupName="ConnectionManager">
      </CloudDbManager>
      <CloudDBTemplates>
         <Template provider ="Oracle.DataAccess.Client" connection="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = {0})(PORT = {1}))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = {2})));Persist Security Info=True;User ID=MTSBWNET;Password=mtsbw123;Min Pool Size=30;Connection Lifetime=0;Connection Timeout=300;Max Pool Size=500;Incr Pool Size=20;Decr Pool Size=5;" />
      </CloudDBTemplates> 
     
       
    </DB>
  </MBCloudConfiguratio>
  
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add name="MB.Orm.MappingCache" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage"/>
      <add name="MB.Orm.EntityCache" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage"/>
      <add name="MB.Orm.SqlCache" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage"/>
      <add name="MB.Orm.XmlCfgFileCache" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="Null Storage"/>
    </cacheManagers>
    <backingStores>
      <add encryptionProviderName="" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching" name="Null Storage"/>
    </backingStores>
  </cachingConfiguration>
  <system.transactions>
    <defaultSettings timeout="00:10:00"/>
  </system.transactions>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="MB.ERP.Behavior">
          <dataContractSerializer  maxItemsInObjectGraph="2147483646" />

        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ERP"  closeTimeout="00:05:00" openTimeout="00:05:00"
          receiveTimeout="00:10:00" sendTimeout="00:05:00" bypassProxyOnLocal="false"
          transactionFlow="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483646" maxReceivedMessageSize="2147483646"
          messageEncoding="Mtom" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483646"
            maxArrayLength="2147483646" maxBytesPerRead="2147483646" maxNameTableCharCount="2147483646" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00"
            enabled="false" />
          <security mode="Message">
            <transport clientCredentialType="Windows" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="Windows" negotiateServiceCredential="true"
              algorithmSuite="Default" establishSecurityContext="true" />
          </security>
        </binding>

      </wsHttpBinding>
    </bindings>
  </system.serviceModel>


  <MbOrmExpirationPolicy>
    <ExpirationPolicy ExpirationCheckInterval="60" AssemblyName="Microsoft.ApplicationBlocks.Cache" ClassName="Microsoft.ApplicationBlocks.Cache.ExpirationsImplementations.SlidingTime"/>
  </MbOrmExpirationPolicy>
  <!-- 配置方面插入-->
  <MBBaseFrameAspects>
    <Aspect type="MB.WinBase.MyCodeRunTrackInjection,MB.WinBase.dll" deploy-model="Singleton" pointcut-type="Method" action-position="Both" match="*.*,*.*"></Aspect>
  </MBBaseFrameAspects>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
