<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SMSServiceCfg" value="http://10.100.25.2:8010/SendSMSService.svc/SendBatchSMS" />
    <add key="XmlConfigPath" value="WSHttpBinding_ERP" />
    <add key="VolumnPlayRequestUrl" value="http://vol.dev.mb.com/spi/speak" />
  </appSettings>
</configuration>