<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
  </configSections>
  <appSettings>
    <add key="SaveCodeRunInfo" value="true" />
    <add key="XmlConfigPath" value="ConfigFile\" />
    <add key="TransSaleMaxRowLen" value="300"/>
    <add key="EmailSettingCfg" value="192.168.203.86:587,erpnet/erpnet"/>
    <add key="OrderCount" value="1000"/>
    <add key ="RowCapacity" value="2000"/>
  </appSettings>
  <connectionStrings>
  <!--老ERP-->
  <add name="MB.OldERP" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.149.114)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = MBTESTDB)));Persist Security Info=True;User ID=MTSBW;Password=MTSBW;Min Pool Size=1;Connection Lifetime=0;Connection Timeout=90;Max Pool Size=200;Incr Pool Size=3;Decr Pool Size=2;" providerName="Oracle.DataAccess.Client" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="MB.OldERP" />
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>