<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
  </configSections>
  <connectionStrings>
    <add name="MyRuleTest" providerName="Oracle.DataAccess.Client" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 192.168.149.114)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = MBTESTDB)));&#xD;&#xA;Persist Security Info=True;User ID=MTSBWTST;Password=MTSBWTST;" />
    <add name="SQL SERVER" connectionString="Data Source=.;Initial Catalog=MBBizBulkCopyV2;User ID=SA;Password=12345678" providerName="System.Data.SqlClient" />
    <add name="MY SQL SERVER" connectionString="Data Source=10.100.5.12;Initial Catalog=WeiXinManagement;User ID=sa;Password=sa2008" providerName="System.Data.SqlClient" />
    <add name="MY SQL SERVER1" connectionString="Data Source=10.100.25.95;Initial Catalog=WeiXinManagement;User ID=sa;Password=W@lc0m@" providerName="System.Data.SqlClient" />
    <add name="MY SQL SERVER2" connectionString="Data Source=.\sql2008;Initial Catalog=MbMonitor;User ID=sa;Password=sa2008" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <dataConfiguration defaultDatabase="MY SQL SERVER1" />
  <appSettings>
    <add key="DatabaseType" value="SqlServer" />
    <!--<add key ="DatabaseType" value="Oracle"/>-->
    <add key="TABLESPACE_NAME" value="USERS" />
    <add key="OWNER" value="MTSBWTST" />
    <!--新增对时间截取 前一个字符可以配置的处理,因为在有些情况下 时间后面是“:(”，而有些情况是" ("-->
    <add key="LogTimeEndSign" value=" (" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>